Options -Indexes 

# RewriteEngine On
# Regla para reescribir la URL de servicios
# RewriteRule ^(servicios)/[a-z-]+(-[a-z-]+)/([1-4])$ servicios.php?id=$3 

# Redireccionamiento para páginas de error 404 y 403
ErrorDocument 404 /page-proyect-school/data/error/404.html
ErrorDocument 403 /page-proyect-school//data/error/403.html