*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/*Perfil estudent*/
.contPerfilEstudent{
    width: 100%;
    height: 140px;
    display: flex;
    align-items: flex-end;
}


.contPerfilEstudent .contCirculoImg img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    outline: 5px solid #8DDBC2;
    object-fit: cover;
}


.contPerfilEstudent .contTextCirculo h2,
.contPerfilEstudent .contTextCirculo h3{
    margin-left: 15px;
}




/*Form estudent*/
.contenedorInfoEstudents {
    width: 100%;
    height: 500px;
}

.contenedorInfoEstudents form {
    display: flex;
    height: 100%;
}

.contenedorInfoEstudents form .contPart1,
.contenedorInfoEstudents form .contPart2 {
    display: flex;
    flex-direction: column; 
    padding: 20px; 
}

.contenedorInfoEstudents form .contPart1 input,
.contenedorInfoEstudents form .contPart2 input{
    border: 2px solid #CCD0DA;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
}



.contenedorInfoEstudents form .contPart1 {
    width: 80%;
}

.contenedorInfoEstudents form .contPart2 {
    width: 50%;
}

.contenedorInfoEstudents label {
    margin-bottom: 10px; 
}

.contenedorInfoEstudents input {
    margin-bottom: 20px; 
}

